<template>
  <div class="about align-items-center">
    <div class="card mx-auto c-about">
      <div class="c-header">
        <img src="../assets/image/logo/AboutImages.png" alt="TIKOMDIK" class="profile-img" />
      </div>
      <div class="card-body c-body">
        <div class="card-title fw-bolder">ABOUT US</div>
        <h5 class="card-title">TIKomDIK DISDIK JABAR</h5>
        <p class="custom-content-about">
          TIKOMDIK tidak hanya berkaitan dengan teknologi tetapi bagaimana dapat berbagi pengetahuan dan informasi, meningkatkan komunikasi yang efisien dan efektif, dapat membangun komunitas belajar serta menciptakan budaya profesionalime
          di lingkungan Pendidikan.
        </p>
      </div>
    </div>
  </div>
</template>
<script>
export default {};
</script>

<style scoped>
/* .about {
  background-color: #858585;
}
.custom-crd {
  border-radius: 100% !important;
  width: 18rem;
} */
.c-about {
  margin-top: 1vh !important;
  max-width: 700px !important;
  padding: 50px !important;
}
.about {
  font-family: "Montserrat";
  background-color: #b8b6b6;
  color: rgb(0, 0, 0);
  padding: 50px;
}

.custom-content-about {
  text-align: left;
  padding-left: 80px;
}

.card {
  max-width: 250px;
  margin: 150px auto 0;
  background-color: #ffffff;
  box-shadow: 0 10px 90px #ffffff24;
  text-align: center;
  font-size: 20px;
  border-radius: 15px;
}

.card .c-header {
  position: relative;
}

.card .c-header .profile-img {
  width: 270px;
  height: 270px;
  border-radius: 100%;
  position: absolute;
  left: 0%;
  transform: translate(-70%, 5%);
  border: 8px solid #ffffff;
  box-shadow: 0 0 20px #00000033;
  background-color: #ffffff;
}

.card .c-header .profile-img:hover {
  width: 280px;
  height: 280px;
  border: 8px solid #ffffff;
  transform: translate(-68%, 3%);
  transition: width 0.5s, height 0.5s, transform 0.5s;
}

@media screen and (max-width: 980px) {
  .c-about {
    margin-top: 120px !important;
    padding: 0px !important;
  }
  .card .c-header .profile-img {
    width: 270px;
    height: 270px;
    border-radius: 100%;
    position: absolute;
    left: 0%;
    transform: translate(45%, -50%);
    border: 8px solid #ffffff;
    box-shadow: 0 0 20px #00000033;
    background-color: #ffffff;
  }

  .card .c-header .profile-img:hover {
    width: 280px;
    height: 280px;
    border: 8px solid #ffffff;
    transform: translate(50%, -50%);
    transition: width 0.5s, height 0.5s, transform 0.5s;
  }
  .custom-content-about {
    text-align: left;
    padding-left: 0px;
  }

  .c-body {
    padding-top: 150px;
  }
}

@media screen and (max-width: 600px) {
  .c-about {
    margin-top: 120px !important;
    padding: 0px !important;
  }
  .card .c-header .profile-img {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    position: absolute;
    left: 0%;
    transform: translate(40%, -50%);
    border: 8px solid #ffffff;
    box-shadow: 0 0 20px #00000033;
    background-color: #ffffff;
  }
  .card .c-header .profile-img:hover {
    width: 170px;
    height: 170px;
    border: 8px solid #00a4a6;
    transform: translate(30%, -50%);
    transition: width 0.5s, height 0.5s, transform 0.5s;
  }
  .custom-content-about {
    text-align: left;
    padding-left: 0px;
  }

  .c-body {
    padding-top: 100px;
  }
}
</style>
