<template>
  <!-- <span class="vertical-line"></span> -->
  <div class="contact">
    <div class="container-fluid">
      <p class="fs-1 fw-bold text-white text-center mt-3 title-section">CONTACT</p>
      <div class="row">
        <div class="col-md-5 tulisan-contact text-white">
          <h4 class="">CONTACT US</h4>
          <span>ABOUT INTERNSHIP</span>
        </div>
        <div class="col-md-2"><span class="vertical-line"></span></div>
        <div class="col-md-5 text-start text-white fw-bolder">
          <form action="action_page.php">
            <label for="fname" class="ms-3">FULL NAME</label>
            <input type="text" id="fname" name="fullname" />

            <label for="number" class="ms-3 text">NUMBER</label>
            <input type="text" id="number" name="number" />

            <label for="email" class="ms-3">EMAIL</label>
            <input type="email" id="email" name="email" />

            <label for="subject" class="ms-3">MESSAGE</label>
            <textarea id="subject" name="subject"></textarea>

            <div class="d-flex justify-content-center">
              <input class="btn-posisi" type="submit" value="SUBMIT" />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style scoped>
.contact {
  background-color: #585858;
  padding: 20px;
}
.contact h4 {
  font-size: 40px;
  font-weight: bolder;
}
.contact span {
  font-weight: bolder;
}
.tulisan-contact {
  justify-content: center;
  align-self: center;
}
.vertical-line {
  display: inline-block;
  border-left: 3px solid #707070;
  margin: 20px 10px;
  height: 450px;
}
/* card contact */
input[type="text"],
select,
textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  padding-top: 1rem;
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 20px; /* Add a top margin */
  margin-bottom: 20px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
  border-radius: 50px;
  background-color: #c4c4c4;
}
input[type="email"],
select,
textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 20px; /* Add a top margin */
  margin-bottom: 20px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
  border-radius: 50px;
  background-color: #c4c4c4;
}

/* Style the submit button with a specific background color etc */
input[type="submit"] {
  font-weight: bolder;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #7051ea;
  color: white;
  margin-top: -20px;
  padding: 10px 30px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
/* When moving the mouse over the submit button, add a darker green color */
input[type="submit"]:hover {
  background-color: #431be4;
}

/* Add a background color and some padding around the form */

@media screen and (max-width: 980px) {
  .vertical-line {
    display: none;
  }

  .title-section {
    display: none;
  }
}
</style>
