<template>
  <div class="contribute">
    <h1>CONTRIBUTE</h1>
    <!-- <div class="row">
      <img src="../assets/image/logo/logo.png" class="rounded float-start" alt="..." />
      <img src="../assets/image/logo/django 1.png" class="rounded float" alt="..." />
      <img src="../assets/image/logo/laravel 1.png" class="rounded float-end" alt="..." />
    </div> -->
    <div class="container custom-container-contr">
      <div class="img-cotribute">
        <div><img src="../assets/image/logo/react-v2.png" class="float" alt="..." /></div>
        <div><img src="../assets/image/logo/django-v2.png" class="float" alt="..." /></div>
        <div><img src="../assets/image/logo/laravel-v2.png" class="float" alt="..." /></div>
      </div>
    </div>
  </div>
</template>
<script>
export default {};
</script>

<style>
.contribute {
  background-color: #7a7a7a;
}
.contribute h1 {
  color: white;
  font-weight: bold;
  padding-top: 20px;
}
.custom-container-contr {
  max-width: 60% !important;
  padding-top: 25px;
  padding-bottom: 25px;
}
.img-cotribute {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.img-cotribute img {
  border-radius: 8px;
  height: 100%;
  width: 150px;
}

@media screen and (max-width: 980px) {
  .img-cotribute {
    display: flex;
    flex-direction: column;
    justify-content: space-around !important;
    align-items: center;
    row-gap: 70px;
  }
}
</style>
