<template>
  <div class="document">
    <div class="judul-document">
      <h2 class="centre-line text-white"><span>PRODUCT</span></h2>
    </div>
    <div class="container-fluid text-white">
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <h6>WEB DEVELOPMENT</h6>
          <div class="card">
            <img src="../assets/image/picture/MyWeb 1.png" class="card-img-top" alt="..." />
          </div>
        </div>
        <div class="col">
          <h6>ROBOTIK</h6>
          <div class="card">
            <img src="../assets/image/picture/MyWeb 1.png" class="card-img-top" alt="..." />
          </div>
        </div>
        <div class="col">
          <h6>METAVERSE</h6>
          <div class="card">
            <img src="../assets/image/picture/MyWeb 1.png" class="card-img-top" alt="..." />
          </div>
        </div>
      </div>
      <div class="row document-bawah">
        <p class="document-bawah-text">YOU CAN SEE OUR PRODUCT</p>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style scoped>
.document {
  background-color: #6f7571;
  padding-top: 50px;
  padding-bottom: 50px;
}
.document-bawah {
  background-color: #6f7571;
  padding-top: 80px;
  margin-bottom: -20px;
}
.document-bawah-text {
  color: whitesmoke;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700 !important;
  font-size: x-large;
}
.judul-document {
  padding-bottom: 50px;
}
h2.centre-line {
  width: 80%;
  text-align: center;
  border-bottom: 0.1rem solid #9f9f9f;
  line-height: 0.1em;
  margin: 1.5rem 10%;
  font-weight: 700 !important;
}

h2.centre-line span {
  background-color: #6f7571;
  padding: 0 8rem;
}
/* h2.centre-line {
  width: 80%;
  text-align: center;
  border-bottom: 0.1rem solid #9f9f9f;
  line-height: 0.1em;
  margin: 2rem 10%;
  font-weight: 700 !important;
}

h2.centre-line span {
  background-color: #515151;
  padding: 0 1.7rem;
} */
</style>
