<template>
  <div id="app">
    <div>
      <nav class="navbar navbar-expand-lg navbar-dark trn">
        <a class="navbar-brand" href="#">
          <img src="./assets/image/logo/logotikom 1.png" alt="Tikomdik" width="150px" height="50px" />
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" href="#">PRODUCT</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">JOB DESK</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">ABOUT</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">CONTRIBUTE</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">CONTACT</a>
            </li>
          </ul>
        </div>
      </nav>

      <div class="bd-carousel">
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="./assets/image/picture/background2 1.png" class="d-block w-100" alt="..." />
              <div class="div carousel-text-posisi"><p class="carousel-image-text">TIKomDIK</p></div>
              <div class="div carousel-text-posisi2"><p class="carousel-image-text">DISDIK JABAR</p></div>
              <div class="carousel-caption d-none d-md-block">
                <h5>First Slide</h5>
                <p>Deskripsi Slide</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="./assets/image/picture/background2 1.png" class="d-block w-100" alt="..." />
              <div class="div carousel-text-posisi"><p class="carousel-image-text">TIKomDIK</p></div>
              <div class="div carousel-text-posisi2"><p class="carousel-image-text">DISDIK JABAR</p></div>
              <div class="carousel-caption d-none d-md-block">
                <h5>Second Slide</h5>
                <p>Deskripsi Slide</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="./assets/image/picture/background2 1.png" class="d-block w-100" alt="..." />
              <div class="div carousel-text-posisi"><p class="carousel-image-text">TIKomDIK</p></div>
              <div class="div carousel-text-posisi2"><p class="carousel-image-text">DISDIK JABAR</p></div>
              <div class="carousel-caption d-none d-md-block">
                <h5>Third Slide</h5>
                <p>Deskripsi Slide</p>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
    <!-- <h2 class="centre-line"><span>Text</span></h2> -->
    <!-- <HelloWorld msg="Welcome to Your Vue.js App" /> -->
    <!-- <AppDocument /> -->
    <AppPortofolio />
    <AppAbout />
    <AppContribute />
    <AppContact />
  </div>
</template>

<script>
//import HelloWorld from "./components/HelloWorld.vue";
// import AppDocument from "./components/AppDocument.vue";
import AppPortofolio from "./components/AppPortofolio.vue";
import AppAbout from "./components/AppAbout.vue";
import AppContribute from "./components/AppContribute.vue";
import AppContact from "./components/AppContact.vue";

export default {
  name: "App",
  components: {
    // AppDocument,
    AppPortofolio,
    AppAbout,
    AppContribute,
    AppContact,
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #000000;
}
/* .nav-logo {
  position: absolute;
  width: 293px;
  height: 293px;
  left: 42px;
  top: -83px;
  border-radius: 0px;
} */
/* -------------------------------- 
            NAVBAR
-------------------------------- */
.trn {
  background-color: transparent !important;
  z-index: 99;
}
.trn a {
  margin-right: 30px;
  font-weight: bolder;
  font-size: 1.2vw;
}
.navbar-brand {
  margin-left: 30px;
  margin-top: -5px;
}
/* -------------------------------- 
            CAROUSEL
-------------------------------- */
.bd-carousel {
  margin-top: -100px;
}
.carousel-text-posisi {
  position: absolute;
  top: 38%;
  left: 12%;
}
.carousel-text-posisi2 {
  position: absolute;
  top: 48%;
  left: 12%;
}
.carousel-image-text {
  color: azure;
  text-shadow: 1px 1px 2px #00f7ff, 0 0 25px #001c1d, 0 0 5px #00a4a6;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 4vw;
  font-weight: bold;
}
@media screen and (min-width: 1200px) {
  .trn a {
    font-size: 18px;
  }
}

/* SIZE MOBILE SCREEN */
@media screen and (max-width: 980px) {
  .trn {
    display: none !important;
    /*background-color: #001c1d !important;
     z-index: 99; */
  }
  .bd-carousel {
    margin-top: 0px;
  }
}
</style>
